*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    height: 100vh;
    background-image: url(https://i.pinimg.com/736x/c8/98/1f/c8981fed4fe843c24306885616bb45b1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    color: white;
}

header{
    height: 100px;
    color: goldenrod;
    background-color: rgb(112, 79, 60);
    font-size: 2rem;
    text-align: center;
    border-bottom: 3px solid goldenrod;
}

.sorting{
    align-self: center;
    display: flex;
    justify-content: center;
    width: 50%;
    height: 50px;
    display: flex;
    margin-top: 15px;
    gap: 5px;
}

input{
    height: 30px;
    width: 25%;

}

button{
    height: 30px;
    border-radius: 5px;
    background-color: goldenrod;
}

.decision{
    margin-top: 50px;
}
h2{
    font-size: 2rem;
    text-align: center;
}

h4{
    font-size: 1.2rem;
    text-align: center;
}

h3{
    font-size: 1.8em;
}

.houseWizards{
    margin-top: 150px;
}